header {
    background: orangered;
}
.red {
    background: red;
}

.blue {
    background: lightskyblue;
}

.yellow {
    background: yellow;
}

@media (min-width: 576px) {
    header {
        background: lightskyblue;
    }

    .blue {
        background: red;
    }

    .purple {
        background: greenyellow;
    }
}

@media (min-width: 768px) {
    header {
        background: lightgreen;
    }
    
    .purple {
        background: red;
    }

    .tall {
        height: 400px;
    }
}
